*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}
.App{
  width: 100%;
  height: 100vh;
  background-color: #FBF3E4;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.todo-app{
  background-color: #fff;
  width: 500px;
  height: auto;
  padding: 20px;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}
.todo-app h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.todo-input{
  width: auto;
  margin: 0rem auto 1rem;

}
.todo-input input{
  padding: 10px;
  width: 350px;
  border:2px solid #DFD8CA;
}
.todo-input input:focus{
  outline: 1px solid #DFD8CA;
}

.todo-input button{
  padding: 10px;
  background-color: #105652;
  border: none;
  cursor: pointer;
  color: #DFD8CA;
  font-size: 1.05rem;
  font-weight: 700;
}
.todo-input button:hover{
  outline: 1px solid #105652;
}

/*start of todo list styles */
.works-todo{
  width: auto;
      
  
  }
  .works{
      margin-top: 1rem;
      background-color: #fff;
      width: 500px;
      padding: 20px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
  }
  .works-btn{
      margin-left: 2rem;
      display: flex;
      flex-wrap: nowrap;
      width: 100px;
      height: 100%;
  }
  .works-btn button{
      cursor: pointer;
      font-size: 2rem;
      background-color: #DFD8CA;
      border: 1px solid #fff;
      margin: 0px 1px;
  }
  .works-btn button:hover{
      border: 1px solid #DFD8CA;
  }

  .complete{
    opacity: .5;
    transition: all 1s;
    background-color: #10565286;
  }
  .complete p{
    
    text-decoration-line: line-through;
    
  }