*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}
.App{
  width: 100%;
  height: 100vh;
  background-color: #FBF3E4;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}



/*start of todo list styles */
